{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="pt-3 pb-3 ps-2 me-2" style="background-color: white; display:inline-block;   position: fixed; top: 20%; left: 20%;">
 {% if validlink %}
 <p>Пожалуйста, дважды введите свой новый пароль:</p>
 <form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <button class="btn mt-2"  type="submit" value="Change my password" style="background-color: rgb(81 129 184); color: white;">Изменить пароль</button>
 </form>
 {% else %}
 <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она
    уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
 {% endif %}
</div>
{% endblock %}