{% extends "base.html" %}
{% block title %}Сбросьте свой пароль{% endblock %}
{% block content %}
<div class="pt-3 pb-3 ps-2 me-2" style="background-color: white; display:inline-block;   position: fixed; top: 20%; left: 30%;">
 <h1>Забыли свой пароль?</h1>
 <p>Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
 <form action="." method="post">
 {{ form.as_p }}
 <button class="btn mt-2"  type="submit" value="Send e-mail" style="background-color: rgb(81 129 184); color: white;">Отправить</button>
 {% csrf_token %}
 </form>
</div>
{% endblock %}